$color-nf-pink: #EB0093;
$color-nf-yellow: #FCE300;
$color-nf-red: #FA4616;
$color-nf-green: #6DCDB8;
$color-nf-gray: #7F7F7F;

.t-next__body {

  // Elements

  h1 {
    color: $color-nf-red;
  }

  .c-next__hero-content h1 {
    color: $color-white;
  }

  // Objects
  .o-center--vertical {
    position: relative;
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // components
  .c-next__nav {
    position: fixed;
    width: 100%;
    z-index: $z-index-menu;
    background-image: transparent;
  }
  .c-next__nav--default {
    background-color:#EB0093;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#EB0093, endColorstr=#FA4616);
    background-image:-moz-linear-gradient(left, $color-nf-pink 0%, $color-nf-red 60%,$color-nf-yellow 103%);
    background-image:linear-gradient(left, $color-nf-pink 0%, $color-nf-red 60%,$color-nf-yellow 103%);
    background-image:-webkit-linear-gradient(left, $color-nf-pink 0%, $color-nf-red 60%,$color-nf-yellow 103%);
    background-image:-o-linear-gradient(left, $color-nf-pink 0%, $color-nf-red 60%,$color-nf-yellow 103%);
    background-image:-ms-linear-gradient(left, $color-nf-pink 0%, $color-nf-red 60%,$color-nf-yellow 103%);
    background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,$color-nf-pink), color-stop(60%,$color-nf-red),color-stop(103%,$color-nf-yellow));
    box-shadow: $drop-shadow-2;
  }
  .c-next__nav-logo {
    display: block;
    width: 130px;
    margin: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
    > img {
      width: 130px;
    }
  }
  .c-next__nav-items-container {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    transform: translate(0, -50%);
    margin-right: $inuit-global-spacing-unit;
    white-space: nowrap;
    @include mq($from: desktop) {
      top: 50%;
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
      margin-right: 0;
    }
    @include mq($until: tablet) {
      &.is-open {
        display:block;
      }
      display:none;
      background: $color-nf-pink;
      top: 77px;
      right: 0;
      left: auto;
      transform: translate(0,0);
      box-shadow: $drop-shadow-2;
      margin-right: 0;
      ul {
        padding: $inuit-global-spacing-unit;
        li {
          display:block;
          margin-bottom: $inuit-global-spacing-unit;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .c-next__nav-items {
    display: inline-block;
    font-family: $heading-font-family;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    li {
      margin-right: $inuit-global-spacing-unit-large;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .c-next__nav-social-container {
    position: absolute;
    top: 50%;
    right: $inuit-global-spacing-unit;
    transform: translate(0, -50%);
    margin-bottom: 0;
    .c-next_nav-social {
      margin-bottom: 0;
      font-size: 24px;

    }
    li {
      margin-right: $inuit-global-spacing-unit/2;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    @include mq($until: desktop) {
      display:none;
    }
  }
  .c-next__nav-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    margin-right: $inuit-global-spacing-unit;
    color: $color-white;
    font-size: 40px;
    &:before {
      font-family: $icon-font-family;
      content: '\F35C';
    }
    @include mq($from: tablet) {
      display:none;
    }
  }

  .c-next__hero {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    // @include mq($until: tablet) {
    //   background: none;
    // }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .c-next__hero .c-next__hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: translate(0, 0);
  }

  .c-next__hero-home {
    .c-next__hero-overlay {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom right,$color-nf-pink,$color-nf-yellow);
      opacity: .6;
    }
  }

  .c-next__hero-video {}
  video.c-next__hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    // z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    @include mq($until: tablet) {
      display: none;
    }

  }
  .c-next__hero-content {
    z-index: $z-index-menu;
    .c-btn {
      background-color: white;
      color: $color-gray;
      @include mq($until: tablet) {
        font-size: 0.875em;
        line-height: 16px;
        padding: ($inuit-global-spacing-unit-small*.25) $inuit-global-spacing-unit/2;
      }
    }
  }

  .c-btn--next {
    background-color: $color-nf-red;
    color: $color-white;
  }

  .c-next__hero-logo {
    max-width: 160px;
    margin-bottom: $inuit-global-spacing-unit;
    @include mq($from: tablet) {
      max-width: 200px;
    }
  }
  .c-next__hero-text {
    margin-bottom: $inuit-global-spacing-unit-huge;
    @include mq($until: tablet) {
      margin-bottom: $inuit-global-spacing-unit;
    }
  }
  .c-next__bill {
    text-align: center;
    span, h2 {
      // text-align: center;
    }
    span {
      display:block;
    }
    h2 {
      display: inline-block;
      &:after {
        content: '•';
        margin: 0 $inuit-global-spacing-unit-tiny;
        color: $color-gray;
      }
      &:last-child {
        &:after {
          content: '';
          margin: 0;
        }
      }
    }
  }
  .c-next__triangle {
    z-index: $z-index-menu - 1;
    position: absolute;
  }
  .c-next__triangle--left {
    top: 40px;
    right: 50px;
    width: 728px;
    // @include mq($from: mobile) {
    //   top: 210px;
    //   right: -50px;
    //   width: 320px;
    // }
    // @include mq($from: tablet) {
    //   top: 450px;
    //   right: 10px;
    //   width: 480px;
    // }
  }
  .c-next__triangle img {
  }
}

// ZOOM STYLES

img[data-action="zoom"] {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
