<footer class="o-wrapper__full-width c-background__black o-color--white">
  <div class="o-wrapper">
    <div class="o-layout o-spacer__top--large o-section">
      <div class="o-layout__item u-1/1">
        <h3>Join our mailing list</h3>
      </div>
      <div class="o-layout__item o-spacer__bottom--small u-1/1">
        {% include newslettersignup.html %}
      </div>
    </div>
    <div class="o-layout o-layout--reverse o-section">
      <div class="o-layout__item o-spacer__bottom--large u-1/6@desktop u-1/1">
        <ul class="o-list-bare c-icons__social--primary">
          <li><a href="#" class="mdi mdi-facebook"></a></li>
          <li><a href="#" class="mdi mdi-twitter"></a></li>
          <li><a href="#" class="mdi mdi-instagram"></a></li>
          <li><a href="#" class="mdi mdi-cellphone-iphone"></a></li>
        </ul>
        <ul class="o-list-bare c-icons__social--secondary">
          <li><a href="#" class="mdi mdi-youtube-play"></a></li>
          <li><a href="#" class="mdi mdi-pinterest"></a></li>
          <li><a href="#" class="mdi mdi-tumblr"></a></li>
          <li><a href="#" class="mdi mdi-google-plus"></a></li>
          <li><a href="#" class="mdi mdi-email"></a></li>
        </ul>
      </div>

      <div class="o-layout__item o-spacer__bottom--small u-1/5@desktop u-1/4@tablet u-1/2">
        <h2>About</h2>
        <ul class="o-list-bare">
          <li><a href="#"><span class="o-color--white-secondary">Mission</span></a></li>
          <li><a>Board of Trustees</a></li>
          <li><a>Utah Advisory Board</a></li>
          <li><a>Director's Advisory Group</a></li>
          <li><a>Leadership</a></li>
          <li><a>Departmental Contacts</a></li>
        </ul>
        <ul class="o-list-bare">
          <li><a>Sundance Contact</a></li>
          <li><a>Archives</a></li>
          <li><a>Press Center</a></li>
          <li><a>Jobs</a></li>
          <li><a>Entities (Sundance Group)</a></li>
        </ul>
      </div>
      <div class="o-layout__item o-spacer__bottom--small u-1/5@desktop u-1/4@tablet u-1/2">
        <h2>Festivals</h2>
        <ul class="o-list-bare">
          <li><a href="#"><span class="o-color--white-secondary">Sundance Film Festival</span></a></li>
          <li><a>About</a></li>
          <li><a>Attend</a></li>
          <li><a>Get Tickets</a></li>
          <li><a>Program</a></li>
          <li><a>Schedule</a></li>
          <li><a>Industry</a></li>
          <li><a>Press</a></li>
          <li><a>Volunteer</a></li>
          <li><a>ADA Accessibility</a></li>
          <li><a>Store</a></li>
          <li><a>Submit a Film</a></li>
        </ul>
        <ul class="o-list-bare">
          <li><a href="#"><span class="o-color--white-secondary">Other Festivals</span></a></li>
          <li><a>Sundance NEXT FEST</a></li>
          <li><a>Sundance Film Festival: London</a></li>
          <li><a>Sundance Film Festival: Hong Kong</a></li>
        </ul>
        <ul class="o-list-bare">
          <li><a href="#"><span class="o-color--white-secondary">Other Screenings</span></a></li>
          <li><a>Film Forward</a></li>
          <li><a>Shorts Tour</a></li>
          <li><a>Utah Community Screenings</a></li>
        </ul>
      </div>
      <div class="o-layout__item o-spacer__bottom--small u-1/5@desktop u-1/4@tablet u-1/2">
        <h2>Audience</h2>
        <ul class="o-list-bare">
          <li><a href="#">Watch Films</a></li>
          <li><a>News & Stories</a></li>
          <li><a>Sundance Projects</a></li>
        </ul>
        <ul class="o-list-bare">
          <li><a href="#"><span class="o-color--white-secondary">Events</span></a></li>
          <li><a>Workshops</a></li>
          <li><a>Now Playing</a></li>
          <li><a>Special Screenings</a></li>
          <li><a>Benefit Events</a></li>
        </ul>
        <h2>Support</h2>
        <ul class="o-list-bare">
          <li><a>Donate</a></li>
          <li><a>Membership</a></li>
          <li><a>Individual Giving</a></li>
          <li><a>Corporate Support</a></li>
          <li><a>Foundation Giving</a></li>
          <li><a>Government Support</a></li>
        </ul>
      </div>
      <div class="o-layout__item o-spacer__bottom--small u-1/5@desktop u-1/4@tablet u-1/2">
        <h2>Artist</h2>
        <ul class="o-list-bare">
          <li><a href="#"><span class="o-color--white-secondary">Programs</span></a></li>
          <li><a>Creative Distribution</a></li>
          <li><a>Documentary Film</a></li>
          <li><a>Episodic Storytelling</a></li>
          <li><a>Feature Film</a></li>
          <li><a>Film Music</a></li>
          <li><a>Ignite</a></li>
          <li><a>Native</a></li>
          <li><a>New Frontier</a></li>
          <li><a>Theatre</a></li>
        </ul>
        <ul class="o-list-bare">
          <li><a href="#"><span class="o-color--white-secondary">Initiatives</span></a></li>
          <li><a>Creative Producing</a></li>
          <li><a>Diversity</a></li>
          <li><a>Women at Sundance</a></li>
          <li><a>Catalyst</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
