<input id="modal-large" class="o-modal--input" type="checkbox">
<label class="o-modal__overlay o-overlay--black o-modal__toggle" for="modal-large"></label>
<div class="o-modal__container">
  <div class="o-modal o-modal--full c-background__light-gray">
    <label class="o-modal__close o-modal__toggle" for="modal-large">&#x2715;</label>
    <div class="o-wrapper__modal">

      <div class="o-layout">
        <div class="o-layout__item u-1/1">
          <h1>Creative Producing Lab and Fellowship</h1>
        </div>

        <div class="o-layout__item o-spacer__bottom--large u-1/2@desktop u-1/1">
          <h3>Application</h3>
          <p>By Invitation</p>

          <h3>Dates</h3>
          <p>May 29-June 22, 2017</p>

          <h3>Size of Fellowship</h3>
          <p>8 Projects each lab</p>

          <h3>Location</h3>
          <p>Sundance Mountain Resort, Utah</p>

          <h3>Eligibility</h3>
          <p>There is no open application to the Directors Lab, which is typically populated by projects that have already been supported through a previous Screenwriters Lab.</p>
        </div>

        <div class="o-layout__item u-1/2@desktop u-1/1">

          <h3>Description</h3>
          <p>During the month-long Directors Lab, eight Fellows work with an accomplished group of Creative Advisors and professional production crews, rehearsing, shooting, and editing key scenes from their scripts. Through this intense, hands-on process, the Fellows workshop scenes, collaborate with actors, and find a visual language for their film in an atmosphere where experimentation and risk-taking is encouraged. Directors Lab Fellows also join in the week-long Screenwriters Lab with five additional projects, participating in individualized story sessions under the guidance of established screenwriters. 2016 Directing Fellows recently shared advice they received at the Lab with Indiewire. Additionally Fellows, Eva Vives, César Cervantes and Sandhya Suri contributed pieces about their experience.</p>

          <a class="c-btn c-btn--primary" href="#">Apply Now</a>
        </div>

      </div>

    </div>
  </div>
</div>
