<nav class="c-nav">
  <div class="o-wrapper">

    <div class="c-nav__logo">
      <a href="#">
        <img class="c-nav__logo--img" src="http://www.sundance.org/images/institutelogo_orange_large.svg">
      </a>
    </div>

    <div class="c-nav__menu c-nav__menu--primary">
      <ul class="o-list-inline">
        <li class="o-list-inline__item c-nav__menu-item o-heading__nav o-heading__nav--primary"><a href="#">Artist</a>
          <ul class="o-list-inline c-nav__menu-item--dropdown">
            <li class="o-list-menu__item c-page-menu__item"><a href="#">CSS</a></li>
            <li class="o-list-menu__item c-page-menu__item"><a href="#">HTML</a></li>
            <li class="o-list-menu__item c-page-menu__item"><a href="#">jQuery</a></li>
            <li class="o-list-menu__item c-page-menu__item"><a href="#">PHP</a></li>
            <li class="o-list-menu__item c-page-menu__item"><a href="#">WordPress</a></li>
          </ul>
        </li>
        <li class="o-list-inline__item c-nav__menu-item o-heading__nav o-heading__nav--primary"><a href="#">Audience</a></li>
        <li class="o-list-inline__item c-nav__menu-item o-heading__nav o-heading__nav--primary"><a href="#">Support</a></li>
        <li class="o-list-inline__item c-nav__menu-item o-heading__nav o-heading__nav--primary"><a href="#">Festivals</a></li>
      </ul>
    </div>

    <div class="c-nav__menu c-nav__menu--secondary">
      <ul class="o-list-inline">
        <li class="o-list-inline__item c-nav__menu-item o-heading__nav o-heading__nav--secondary"><a href="#">Cart</a></li>
        <li class="o-list-inline__item c-nav__menu-item o-heading__nav o-heading__nav--secondary"><a href="#">Account</a></li>
        <li class="o-list-inline__item c-nav__menu-item o-heading__nav o-heading__nav--secondary"><a href="#">Shop</a></li>
      </ul>
    </div>

    <div class="c-nav__menu c-nav__menu--social">
      <ul class="o-list-inline">
        <li class="o-list-inline__item c-nav__menu-item--social">
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li class="o-list-inline__item c-nav__menu-item--social">
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="o-list-inline__item c-nav__menu-item--social">
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>

  </div>
</nav>
