<div class="c-filters__container">
  <div class="c-filters__top-menu c-background__light-gray">
    <div class="c-filters__back">

    </div>
    <div class="c-filters__title">
      <h3>Filter By</h3>
    </div>
    <div class="c-filters__clear o-color--secondary">clear</div>
  </div>

  <div class="c-filters__menu-container">
    <ul class="o-list-menu c-filters__menu c-filters__menu--top">
      <li class="o-list-menu__item c-filters__menu-item">
        <a href="#">Program</a>
        <ul class="o-list-menu c-filters__menu c-filters__menu--sub">
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Sundance Film Festival</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Feature Film Program</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Documentary Film Program</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">NEXT FEST</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Film Music</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Sundance Ignite</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Episodic</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Native</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">New Frontier</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Short Film</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Theatre</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Creative Producing</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Diversity Initative</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Women at Sundance</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Utah Community</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Membership</a></li>
        </ul>
      </li>
      <li class="o-list-menu__item c-filters__menu-item">
        <a href="#">Event Type</a>
        <ul class="o-list-menu c-filters__menu c-filters__menu--sub">
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Workshops</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Receptions</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Screenings and Readings</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Labs and Retreats</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Benefit Events</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">Intensives</a></li>
        </ul>
      </li>
      <li class="o-list-menu__item c-filters__menu-item">
        <a href="#">Year</a>
        <ul class="o-list-menu c-filters__menu c-filters__menu--sub">
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2017</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2016</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2015</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2014</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2013</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2012</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2011</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2010</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2009</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2008</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2007</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2006</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2005</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2004</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2003</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2002</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2001</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">2000</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1999</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1998</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1997</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1996</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1995</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1994</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1993</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1992</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1991</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1990</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1989</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1988</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1987</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1986</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1985</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1984</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1983</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1982</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1981</a></li>
          <li class="o-list-menu__item c-filters__menu-item"><a href="#">1980</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="c-filters__button-container">
    <a class="c-btn c-btn--primary c-btn--full">Apply</a>
  </div>
</div>
