<div class="c-next__nav c-next__nav--default">
  <a class="c-next__nav-logo" href="{{ "samples/next-homepage" | relative_url }}"><img src="{{ "assets/images/nf-logo__horizontal--white.png" | relative_url }}" alt="NEXT FEST"></a>

  <div class="c-next__nav-items-container">
    <ul class="o-list-inline c-next__nav-items">
      <li class="o-list-inline__item"><a href="#" class=" o-color--white">Lineup</a></li>
      <li class="o-list-inline__item"><a href="#" class=" o-color--white">Tickets</a></li>
      <li class="o-list-inline__item"><a href="{{ "samples/next-experience" | relative_url }}" class=" o-color--white">The Details</a></li>
      <li class="o-list-inline__item"><a href="{{ "samples/next-homepage#membership" | relative_url }}" class=" o-color--white">Membership</a></li>
    </ul>
  </div>

  <div class="c-next__nav-social-container">
    <ul class="o-list-inline c-next_nav-social">
      <li class="o-list-inline__item"><a href="#" class="mdi mdi-facebook o-color--white"></a></li>
      <li class="o-list-inline__item"><a href="#" class="mdi mdi-twitter o-color--white"></a></li>
      <li class="o-list-inline__item"><a href="#" class="mdi mdi-instagram o-color--white"></a></li>
    </ul>
  </div>
  <div class="c-next__nav-icon">

  </div>
  <script type="text/javascript">
    // Toggles nav menu
    $( document ).ready(function() {
      $('.c-next__nav-icon').on('click', function(){
        if ($('.c-next__nav-items-container').hasClass('is-open')) {
          $('.c-next__nav-items-container').removeClass('is-open');
        } else {
          $('.c-next__nav-items-container').addClass('is-open');
        }
      });
    });
  </script>
</div>
