<input id="modal-photo" class="o-modal--input" type="checkbox">
<label class="o-modal__overlay o-overlay--black o-modal__toggle" for="modal-photo"></label>
<div class="o-modal__container">
  <div class="o-modal o-modal--photo c-background__light-gray">

    <a class="o-modal__arrow o-modal__arrow--prev" href="#"></a>
    <a class="o-modal__arrow o-modal__arrow--next" href="#"></a>
    <label class="o-modal__close o-modal__toggle" for="modal-photo">&#x2715;</label>

    <div class="o-wrapper__modal">

      <div class="o-layout">
        <div class="o-layout__item u-4/6@desktop u-4/6@tablet u-1/1 o-modal__photo">
          <div class="o-crop o-crop--1:1 o-crop--contain">
            <img src="https://images.unsplash.com/photo-1475765089311-00fecd44cb1f?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=" alt="" class="o-crop__content o-crop__content--center">
          </div>
        </div>
        <div class="o-layout__item u-2/6@desktop u-2/6@tablet u-1/1 o-modal__desc">
          <h2 class="o-color--text-secondary">1/22</h2>
          <p>Festival Programming Director Trevor Groth makes pancakes for filmmakers during the Programmer’s Pancake Breakfast.</p>
          <p><em>Photographer: Stephen Speckman</em></p>
          <p>Related Tags:</p>
        </div>
      </div>

    </div>
  </div>
</div>
