<input id="modal-video" class="o-modal--input" type="checkbox">

<label class="o-modal__overlay o-overlay--black o-modal__toggle" for="modal-video"></label>
<div class="o-modal__container">
  <div class="o-modal o-modal--video">
    <label class="o-modal__close o-modal__toggle" for="modal-video">&nbsp;</label>
    <div class="o-wrapper__modal">
      <div class="o-media__video-container">
        <iframe class="o-media__video" data-video_id="U8pXf9idEQY" data-video_type="youtube" id="" frameborder="0" allowfullscreen="1" title="YouTube video player" src="https://www.youtube.com/embed/U8pXf9idEQY?controls=1&amp;showinfo=0&amp;modestbranding=1&amp;iv_load_policy=3&amp;origin=https%3A%2F%2Fdotorg-cms-staging-green.cfapps.io&amp;rel=0&amp;playsinline=0&amp;theme=dark&amp;enablejsapi=1"></iframe>
      </div>
    </div>
  </div>
</div>
