.o-modal {
	opacity: 0;
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 100px;
	visibility: hidden;
	width: 100%;
	box-sizing: border-box;
	transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}
.o-modal:target {
	opacity: 1;
	visibility: visible;
}

.o-modal__content {
	background: #ffffff;
	position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
	z-index: 20;
	color: #333333;
}

.o-modal .o-modal__overlay {
	background-color: #000;
	background: rgba(0,0,0,.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

/* Responsive Options */
@media screen and (min-width: 768px) {
	.o-modal {
	}
}
.o-modal__close {
  position:absolute;
  top:100;
  right:0;
  z-index:30;
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}
