/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1088px !default;

/* stylelint-disable */
@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number."
}
/* stylelint-enable */

.o-wrapper {
  @include inuit-clearfix();
  // overflow: auto;
  padding-right: $inuit-global-spacing-unit;
  padding-left:  $inuit-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;
  @include mq($until: desktop) {
    max-width: 720px;
  }
  @include mq($until: tablet) {
    max-width: 520px;
  }
  @include mq($until: mobile) {
    padding-right: $inuit-global-spacing-unit/2;
    padding-left:  $inuit-global-spacing-unit/2;
    max-width: 399px;
  }

}

.o-wrapper__full-width {
  @include inuit-clearfix();
  margin-right: auto;
  margin-left:  auto;
}

.o-wrapper__modal {
  @include inuit-clearfix();
  padding: $inuit-global-spacing-unit-large;
  margin-right: auto;
  margin-left:  auto;
  max-width: 900px;
  @include mq($until: desktop) {
    padding: $inuit-global-spacing-unit-large;
    max-width: 420px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .o-modal--photo & {
      max-width: 100%;
    }
    .o-modal--full & {
      max-width: 100%;
      position: absolute;
      top: auto;
      transform: inherit;
    }
  }
  @include mq($until: tablet) {
    padding: $inuit-global-spacing-unit $inuit-global-spacing-unit/2;
    .o-modal--photo & {
      padding: 0;
      top: auto;
      transform: none;
    }
  }
}

.o-content {
  z-index: 1;
}

.o-content__inner {
  min-height: 100vh;
  position: relative;
  background: $color-white;
  box-shadow: $drop-shadow-2;
  transition: 0.35s;
  z-index: 3;
  overflow: hidden;
}






/* Size variants.
   ========================================================================== */

.o-wrapper--tiny {
  padding-right: $inuit-global-spacing-unit-tiny;
  padding-left:  $inuit-global-spacing-unit-tiny;
}

.o-wrapper--small {
  padding-right: $inuit-global-spacing-unit-small;
  padding-left:  $inuit-global-spacing-unit-small;
}

.o-wrapper--large {
  padding-right: $inuit-global-spacing-unit-large;
  padding-left:  $inuit-global-spacing-unit-large;
}

.o-wrapper--huge {
  padding-right: $inuit-global-spacing-unit-huge;
  padding-left:  $inuit-global-spacing-unit-huge;
}
