.o-list-menu {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.o-list-menu__item {
  cursor: pointer;
  margin-bottom: 0;
  > a, > label {
    position: relative;
    padding: $inuit-global-spacing-unit/2 $inuit-global-spacing-unit*1.66666 $inuit-global-spacing-unit/2 $inuit-global-spacing-unit/2;
    white-space: nowrap;
    font-size: 14px;
    line-height: 24px;
    color: $color-black;
    &:first-child {
      display:block;
      cursor: pointer;
    }
    &:hover {
      background-color: $color-gray-light;
    }
  }
}

.o-list-menu__item--selected {
  a, label {
    background-color: $color-gray-light;
    @include icon(after, close) {
      position:absolute;
      right: $inuit-global-spacing-unit/2;
    }
  }
}
