// Text Colors

.o-color--white, .o-color--white > * {
  color: $color-white;
}

.o-color--primary {
  color: $color-primary;
}

.o-color--secondary {
  color: $color-secondary;
  &:hover, &:focus {
    color: $color-secondary-hover;
  }
}

.o-color--active {
  color: $color-active;
}

.o-color--accent-1 {
  color: $color-accent-1;
}

.o-color--accent-2 {
  color: $color-accent-2;
}

.o-color--accent-3 {
  color: $color-accent-3;
}

.o-color--text-primary {
  color: $color-text-primary;
}

.o-color--text-secondary {
  color: $color-text-secondary;
}

.o-color--black-disabled {
  color: $color-black-disabled;
  &:hover {
    color: $color-black-disabled;
  }
}

// Special Text Sizes

.o-text--smalltext {
  font-size: 14px;
  line-height: 16px;
  @include mq($until: mobile) {
    @include inuit-font-size(12px, 16px);
  }
}
