// Map icon names to font unicode characters
$icons: (

  // Social Media icons
  facebook: "\F20C",
  twitter: "\F544",
  instagram: "\F2FE",

  // UI Icons
  alert-circle: "\F028",
  alert: "\F026",
  archive: "\F03C",
  check: "\F12C",
  chevron-left: "\F141",
  chevron-right: "\F142",
  close: "\F156",
  play: "\F40A",
  plus: "\F415",
  magnify: "\F349",
  menu-down: "\F35D"
);
