// Map icon names to font unicode characters
$icons: (

  // Social Media icons
  facebook: "\F20C",
  twitter: "\F544",
  instagram: "\F2FE",

  // UI Icons
  check: "\F12C",
  alert-circle: "\F028",
  alert: "\F026",
  close: "\F156",
  chevron-left: "\F141",
  chevron-right: "\F142",
  plus: "\F415",
  menu-down: "\F35D",
  magnify: "\F349"
);
