a {
  color: $color-secondary;
  &:hover, &:focus {
    color: $color-secondary-hover;
  }
}

a {
  text-decoration: none;
}

a > h1, h2, h3, h4, h5, h6 {
  color: $color-text-heading;
}

h1, h2, h3, h4, h5, h6 {
  a:hover & {
    color: lighten($color-text-heading, 30%);
  }
}

a > span, p {
  color: $color-text-primary;
}

span, p {
  a:hover & {
    color: lighten($color-text-primary, 25%);
  }
}
