/* ==========================================================================
   #BODY
   ========================================================================== */

html {
  font-family: $base-font-family;
  color: $color-text-primary;
}

p, label, span, ul, li {
  @include mq($until: mobile) {
    @include inuit-font-size(14px, 1.7142857143);
  }
}

.o-layout__item p:last-child {
  margin-bottom: 0;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: $inuit-global-spacing-unit-large;
}

label {
  line-height: 1.5rem;
}

label {
  display: inline-block;
}

*::selection {
  background-color: $color-orange;
}

ul {
  li {
    margin-bottom: $inuit-global-spacing-unit-small;
  }
}
