a {
  color: $color-secondary;
  &:hover, &:focus {
    color: $color-secondary-hover;
  }
  &:visited {
    color: initial;
  }
}

a {
  text-decoration: none;
}

a h3, a p {
  color: $color-text-primary;
  &:hover, &:focus {
    color: $color-black-hover;
  }
}
