.c-page-menu {
  margin: 0;
  width: 100%;
}

.c-page-menu__item {
  > a {
    padding: $inuit-global-spacing-unit/2;
    background-color: $color-primary;
    &:hover, &:focus {
      background-color: $color-black;
      color: $color-white;
    }
  }
  &:first-child > a {
    border-radius: $global-radius $global-radius 0 0;
  }
  &:last-child > a {
    border-radius: 0 0 $global-radius $global-radius;
  }
}

.c-page-menu__item--active {
  > a {
    background-color: $color-black;
    color: $color-white;
  }
}
