.c-watch {

}

.c-watch__item {
  min-width: 161px;
  margin-bottom: $inuit-global-spacing-unit;
  .o-list-menu {
    margin-bottom: 0;
  }
}

.c-watch__item-icon {
  float: left;
  margin-right: $inuit-global-spacing-unit-tiny;
  // li:hover & {
  //   -webkit-transform: scale(1.1);
  //   -moz-transform: scale(1.1);
  //   -ms-transform: scale(1.1);
  //   -o-transform: scale(1.1);
  //   transform: scale(1.1);
  // }
}

.c-watch__item-text {
  float: left;
}

.c-watch__item-title, .c-watch__item-desc {
  display: block;
}

.c-watch__item-title {
}

.c-watch__item-desc {
}

.c-watch__button-container {
    .c-btn {
      margin-right: $inuit-global-spacing-unit;
      &:last-child {
        margin-right: 0;
      }
    }
}
