.c-alert {
  position: relative;
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-huge;
  background-color: $color-gray-light;
  @include icon(after, alert) {
    position: absolute;
    top: $inuit-global-spacing-unit-tiny;
    left: $inuit-global-spacing-unit-tiny;
    font-size: 16px;
  }
}
.c-alert--success {
  background-color: $color-accent-2;
  color: $color-white;
  @include icon(after, check) {
    position: absolute;
    top: $inuit-global-spacing-unit-tiny;
    left: $inuit-global-spacing-unit-tiny;
    font-size: 16px;
  }
}

.c-alert--failure {
  background-color: $color-accent-1;
  color: $color-white;
}

.c-alert__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: $inuit-global-spacing-unit-tiny;
  margin-right: $inuit-global-spacing-unit-tiny;
}
