/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

.c-btn {
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font-family: $heading-font-family; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  padding: 11px $inuit-global-spacing-unit;
  transition: $global-transition;
  border: solid 1px transparent;
  border-radius: $global-radius;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: $drop-shadow-1;
    &:hover {
      box-shadow: $drop-shadow-2;
    }
}





/* Style variants
   ========================================================================== */

.c-btn--primary {
  background-color: $color-black;

  &,
  &:hover,
  &:active,
  &:focus {
    // text-decoration: none; /* [4] */
    color: $color-white;
  }

  &:hover,
  &:focus {
    // background-color: $color-black-hover;
  }

}

.c-btn--secondary {
  background-color: $color-primary;

  &,
  &:hover,
  &:active,
  &:focus {
    // text-decoration: none;
    color: $color-black;
  }

  &:hover,
  &:focus {
    // background-color: $color-primary-hover;
  }

}

.c-btn--tertiary {
  background-color: $color-black-disabled;
  color: $color-black;

  &,
  &:hover,
  &:active,
  &:focus {
    // text-decoration: none;
    color: $color-black;
  }

  &:hover,
  &:focus {
    // background-color: darken($color-black-disabled, 15%)
  }

}

.c-btn.c-btn--disabled {
  background-color: $color-black-disabled;
  color: darken($color-black-disabled, 10%);

  &,
  &:hover,
  &:active,
  &:focus {
    // text-decoration: none;
    box-shadow: none;
  }
}





/* Size variants
   ========================================================================== */

.c-btn--small {
  font-size: 0.875em;
  line-height: 16px;
  padding: ($inuit-global-spacing-unit-small*.25) $inuit-global-spacing-unit/2;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-huge;
}

.c-btn--full {
  width: 100%;
}




/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 1px;

.c-btn--ghost {
  border: $btn-ghost-border-width solid $color-black-disabled;
  // padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-black-hover;
    // border:  $btn-ghost-border-width solid $color-black-hover;
  }

  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &.c-btn--small {
    padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.c-btn--large {
    padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-huge - $btn-ghost-border-width);
  }

  &.c-btn--primary {
    color: $color-black;

    &:hover,
    &:focus {
      color: $color-secondary-hover;
    }

  }

  &.c-btn--secondary {
    color: $color-black;

    &:hover,
    &:focus {
      color: $color-black-hover;
    }

  }

  &.c-btn--tertiary {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }

  }

}

/* Icon-only buttons
   ========================================================================== */

/**
 * Icon-only buttons are filled with either logos (png) or icons (vectors)
 * Icons use Material Design Icons https://materialdesignicons.com/
 */

.c-btn--icon {
  &:before {
    font-family: $icon-font-family;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: $inuit-global-spacing-unit-tiny;
  }
}

.c-btn--icon-only {
  width: $inuit-global-spacing-unit*1.6666;
  height: $inuit-global-spacing-unit*1.6666;
  padding: 0;
}
