.c-sidebar-menu {
  margin: 0;
  width: 100%;
  box-shadow: $drop-shadow-1;
}

.c-sidebar-menu__item {
  > a {
    padding: $inuit-global-spacing-unit/2;
    background-color: $color-primary;
    &:hover, &:focus {
      background-color: $color-black;
      color: $color-white;
    }
  }
  &:first-child > a {
    border-radius: $global-radius $global-radius 0 0;
  }
  &:last-child > a {
    border-radius: 0 0 $global-radius $global-radius;
  }
}

.c-sidebar-menu__item--active {
  > a {
    background-color: $color-black;
    color: $color-white;
  }
}

.c-page-menu {
  margin: 0;
  width: 100%;
}

.c-page-menu__item {
  margin-bottom: $inuit-global-spacing-unit;
  box-shadow: $drop-shadow-1;
  > a, label {
    display: block;
    padding: $inuit-global-spacing-unit-small;
    background-color: $color-gray-light;
    @include icon(after, plus) {
      position:absolute;
      right: $inuit-global-spacing-unit-small;
      font-size: 24px;
    }
  }
}

// .c-page-menu__item--active {
//   > a, label {
//     background-color: $color-primary;
//     @include icon(after, close);
//     &:hover, &:focus {
//       background-color: $color-primary;
//     }
//   }
// }
