.c-photo-embed__item {
  cursor: pointer;
  @include mq($until: desktop) {
    &:nth-child(n+4) {
      display :none;
    }
  }
  @include mq($until: tablet) {
    &:nth-child(n+3) {
      display :none;
    }
  }
  &.c-photo-embed__item--view-all {
    display: inline-block;
  }
}

.c-photo-embed__item--view-all h2 {
  padding: 0 $inuit-global-spacing-unit/2;
  text-align: center;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.c-photo-embed__item--view-all:hover > div {
  background: $color-black-hover;
  h2 {

  }
}

.c-photo__filters--desktop {
  @include mq($until: tablet) {
    display:none;
  }
}
.c-photo__filters--mobile {
  @include mq($from: tablet) {
    // display:none;
  }
}
