$nav-menu-width: 160px;
$full-menu-width: ($nav-menu-width*2);

body {
  // margin-top: 77px;
}

header {
  // position: fixed;
  top: 0;
  width: 100%;
  height: 77px;
  display:block;
  background-color: $color-white;
  border-bottom: solid 2px $color-black;
  box-shadow: $drop-shadow-2;
  z-index: $z-index-nav;
}
.c-nav__logo {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 75px;
  min-width: 150px;
  width: 150px;
}

.c-nav__logo--img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 92%;
}

.c-nav {
  vertical-align: middle;
  ul {
    width: 100%;
    margin-bottom: 0;
    li {
      &:hover > ul, ul:hover {
        visibility: visible;
      }
    }
  }
  .c-nav__menu-item {
    position: relative;
    a {
      &:hover {
        background: $color-primary;
      }
    }
  }
}

.c-nav__menu--primary {
  margin-left: $inuit-global-spacing-unit;
}

.c-nav__menu--secondary {
  float: right;
}

.c-nav__logo, .c-nav__menu--primary, .c-nav__menu--social {
  float: left;
}

.c-nav__menu--social {
  float: right;
  width: auto;
  margin: 0 auto;
  margin-right: $inuit-global-spacing-unit*2;
}

 .c-nav__menu-item--social {
   padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-tiny/2;
   i {
     font-size: 24px;
   }
 }

 .c-nav__container {
   visibility: hidden;
   position: absolute;
   width: $nav-menu-width;
   display: block;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 2;
   &.is-open {
     visibility: visible;
   }
 }

 .c-nav {
   width: $nav-menu-width;
   position: fixed;
   top: 0;
   bottom: 0;
   margin: 0;
   overflow: auto;
 }

.c-nav.c-nav__sub-menu {
  left: $nav-menu-width;
  background: $color-primary;
  > ul {
    a {
      &:hover {
        background: $color-black;
        color: $color-white;
      }
    }
  }
}

.c-nav__submenu-item {
  display:none;
 }

.c-nav__submenu-item.is-active {
  display:block;
}

 .c-nav__icon {
     display: inline-block;
     float:left;
     width: $inuit-global-spacing-unit;
     height: $inuit-global-spacing-unit;
     cursor: pointer;
     z-index: 10;
     margin: $inuit-global-spacing-unit;
 }

 .c-nav__icon:hover .c-nav__icon-hamburger:after,
 .c-nav__icon:hover .c-nav__icon-hamburger:before {
     width: $inuit-global-spacing-unit;
 }

 .c-nav__icon.is-active .c-nav__icon-hamburger {
     background: none;
 }

 .c-nav__icon.is-active .c-nav__icon-hamburger:after,
 .c-nav__icon.is-active .c-nav__icon-hamburger:before {
     top: 0;
     width: $inuit-global-spacing-unit;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .c-nav__icon.is-active .c-nav__icon-hamburger:after {
     -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }

 .c-nav__icon.is-active .c-nav__icon-hamburger:hover {
     -webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.2);
 }

 .c-nav__icon-hamburger {
     position: relative;
     width: $inuit-global-spacing-unit;
     height: 4px;
     margin: 10px 0;
     background: #000;
     border-radius: 2px;
     transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .c-nav__icon-hamburger:after,
 .c-nav__icon-hamburger:before {
     content: '';
     display: block;
     width: $inuit-global-spacing-unit;
     height: 4px;
     background: #000;
     position: absolute;
     border-radius: 2px;
     transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
 }

 .c-nav__icon-hamburger:before {
     top: -8px;
     left: 0;
     width: 22px;
 }

 .c-nav__icon-hamburger:after {
     top: 8px;
     width: 16px;
     left: 0;
 }

 .o-content__inner.is-open {
     overflow: hidden;
 }

 .o-content__inner.is-open {
     -webkit-transform: translateX($full-menu-width);
     -moz-transform: translateX($full-menu-width);
     -ms-transform: translateX($full-menu-width);
     -o-transform: translateX($full-menu-width);
     transform: translateX($full-menu-width);
 }
