.c-dropdown__button {
  &:after {
    position:absolute;
    top: $inuit-global-spacing-unit/2;
    right: $inuit-global-spacing-unit/2;
    font: normal normal normal 16px/1 "FontAwesome";
    content: '\f0d7';
    padding: $inuit-global-spacing-unit-tiny/2;
  }
  > a:hover {
    background-color: inherit;
  }
}

.c-dropdown {
  display:none;
  position:absolute;
  background: white;
  border: solid 1px $color-black-disabled;
  border-radius: $global-radius;
  box-shadow: $drop-shadow-3;
  .o-list-menu__item {
    &:first-child {
      margin-top: $inuit-global-spacing-unit-tiny;
    }
    &:last-child {
      margin-bottom: $inuit-global-spacing-unit-tiny;
    }
  }
}

.c-dropdown--active {
  display:block;
  z-index: $z-index-menu;
}
