.c-alert {
  position: relative;
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-large;
  background-color: $color-gray-light;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: $inuit-global-spacing-unit-tiny;
    margin-left: $inuit-global-spacing-unit-tiny;
    font-family: 'FontAwesome';
    font-size: 16px;
    content: '\f071';
  }
}
.c-alert--success {
  background-color: $color-accent-2;
  color: $color-white;
  &:before {
    content:'\f00c';
  }
}

.c-alert--failure {
  background-color: $color-accent-1;
  color: $color-white;
}

.c-alert__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: $inuit-global-spacing-unit-tiny;
  margin-right: $inuit-global-spacing-unit-tiny;
}
