$tab-width: 153px;
$tab-width-mobile: 133px;

.c-tab__container {
  position: relative;
  margin: 0 0 -15px;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  @include mq($until: tablet) {
    left: -12px;
  }
}

.c-tab {
  display: table;
  margin: 0;
  padding: 0;
  height: 48px;
}

.c-tab__container::-webkit-scrollbar {
  width: 0 !important;
}

.c-tab__item {
  height: 48px;
  display: table-cell;
  max-width: $tab-width;
  color: lighten($color-black, 75%);
  padding: 0 $inuit-global-spacing-unit-small;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2;
  @include mq($until: tablet) {
    max-width: $tab-width-mobile;
  }
}

.c-tab__item--active {
  color: $color-black;
  border-bottom: solid 3px $color-primary;
}

.c-tab__item--short {
  font-size: 16px;
  @include mq($until: tablet) {
    font-size: 14px;
  }
}

.c-tab__item--long {
  white-space: normal;
  font-size: 14px;
  @include mq($until: tablet) {
    font-size: 12px;
    min-width: 133px;
  }
}
.c-tab__item--long.c-tab__item--active {
  min-width: 190px;
  max-width: 190px;
  @include mq($until: tablet) {
    min-width: 166px;
    max-width: 166px;
  }
}
