.c-dropdown__button {
  @include icon(after, menu-down) {
    position: absolute;
    font-size: 24px;
    top: $inuit-global-spacing-unit-tiny/2;
    right: $inuit-global-spacing-unit-tiny/2;
  }
  > a:hover {
    background-color: inherit;
  }
}

.c-dropdown {
  display:none;
  position:absolute;
  background: white;
  border: solid 1px $color-black-disabled;
  border-radius: $global-radius;
  box-shadow: $drop-shadow-3;
  max-height: 380px;
  overflow: auto;
  .o-list-menu__item {
    &:first-child {
      margin-top: $inuit-global-spacing-unit-tiny;
    }
    &:last-child {
      margin-bottom: $inuit-global-spacing-unit-tiny;
    }
  }
}

.c-dropdown--active {
  display:block;
  z-index: $z-index-menu;
}
